
/* **********************************************************************

Fonts

********************************************************************** */

@font-face {
    font-family: 'Source Sans Pro';
    src: url('sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('sourcesanspro-regular-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Source Sans Pro';
    src: url('sourcesanspro-semibold-webfont.woff2') format('woff2'),
         url('sourcesanspro-semibold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}
@font-face {
    font-family: 'Droid Sans Mono';
    src: url('droidsansmono-webfont.woff2') format('woff2'),
         url('droidsansmono-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

strong {
  font-synthesis: none;
  font-weight:700;
}
pre {
    font-size:0.75em;
    line-height:1.1em;
    border:1px solid #eee;
    background-color:#fffcf7;
}
p code {
    border-radius:5px;
    font-size:0.8em;
}


/* **********************************************************************

Body

********************************************************************** */

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size:1em;
    line-height:1.5em;
	color:#000;
}

code {
	font-family: 'Droid Sans Mono', monospace;
    font-size:0.85em;
	background-color:#f5f5f5 !important;
    padding:3px;
}


/* **********************************************************************

Header

********************************************************************** */
header {
    border-bottom:1px dashed #ccc;
    background-color:#f5f5f5;
}
header a {
    font-synthesis: none;
    font-weight:700;
}
header a.tag {
    font-weight:300;
}
header a:hover {
    background-color:#f5f5f5;
}

a#home {
    width:100%;
    height:230px;
    background-color:#fff;
    display:block;
    background-image:url('../gfx/bg-normal.svg');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
}
a#home:hover div {
    width:100%;
    height:100%;
    background-image:url('../gfx/bg-home.svg');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
}
a#home span {
    display:none;
}

div#header-image {
    padding:0;
    background-color:#fff;
    border-bottom:1px solid #e5e5e5;
    text-align:center;
}
div#header-image img {
    height:240px;
    margin:auto;
    display:block;
}
header h1 {
    padding-top:0;
    font-size:1.5em;
    line-height:1.4em;
}
header {
    padding-bottom:0px;
}
header p {
    font-size:0.8em;
    margin-bottom:5px;
    margin-top:5px;
}


/* **********************************************************************

Article

********************************************************************** */

article p {
    color:#000;
    margin-top:12px;
    margin-bottom:12px;
}
article {
    padding-top:5px;
    padding-bottom:5px;

}
article h1 {
    font-size:1.25em;
    margin-bottom:10px;
    font-synthesis: none;
    font-weight:700;
}
article h2 {
    font-size:1.05em;
}
article a h1 span.heading {
    padding:2px;
    padding-left:6px;
    padding-right:6px;
    margin-left:-6px;
}
article a:hover h1 span.heading {
    color:#015e93;
    background-color:#f5f5f5;
}
article a:hover span.readmore {
    display:inline;
}
article img {
    display: block;
    margin: 0 auto;
}

article hr {
    height:0px;
    border-bottom:0px;
}

article small {
    font-size:0.7em;
    color:#ccc;
}

article p.notes-and-comments, ul.notes-and-comments li, h2.notes-and-comments {
    width:60%;
    color:#666;
    font-size:0.85em;
    line-height:1.5em;
}
article div.notes-and-comments h2 {
    margin:0;
}
article div.notes-and-comments {
    border-top:2px dotted #aaa;
    border-bottom:0px dotted #aaa;
    padding-top:20px;
    padding-bottom:20px;
    margin-top:100px;
    margin-bottom:20px;
    font-style:oblique;

}
span.readmore {
    font-weight:700;
    display:none;
    color:#ddd;
}


/* **********************************************************************

General Styles

********************************************************************** */

a {
    text-decoration:none;
    color:#0176ba;
    outline:0;
}
a:hover {
    color:#015e93;
    background-color:#f5f5f5;
}
a:active {
    text-decoration:none;
    outline:0;
}
.content {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
    font-size:1.4em;
    line-height:1.5em;
}




