{% extends "base.html" %}

{% block title %}{{ article.title }}{% endblock %}
{% block keywords %}{{ article.meta.keywords }}{% endblock %}
{% block description %}{{ article.meta.description }}{% endblock %}
{% block metatags %}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="https://kokoalberti.com{{ url_for('article', slug=article.slug) }}">
    {% if article.title %}
    <meta name="twitter:title" content="{{ article.title }}">
    {% endif %}
    {% if article.meta.preview %}
    <meta name="twitter:image" content="https://kokoalberti.com{{ url_for('article_static', slug=article.slug, filename=article.meta.preview) }}">
    {% endif %}
{% endblock %}

{% block content %}
<header>

  <div id="header-image"><a id="home" href="{{ url_for('index') }}"><div><span>Back to homepage</span></div></a> </div>

  <div class="content">
    <p>
      <span style="float:right;color:#666;"><a href="https://twitter.com/kokoalberti" style="font-weight:700;">@kokoalberti</a></span>
      <a href="{{ url_for('index') }}">kokoalberti.com</a>/articles/
    </p>
    <h1>{{ article.title }}</h1>

    <p style="color:#666;">
      <tt>Published {{ article.date.strftime("%Y-%m-%d") }}</tt>
      <span style="float:right;color:#666;">
        <tt>
        {% for tag in article.meta.tags %}
          <a href="{{ url_for('tag', tag=tag) }}" class='tag'>#{{tag}}</a> 
        {%endfor%}

      	</tt>
      </span>
      
    </p>

  </div>
</header>
<div class="content">
    {% if 'geo' in article.meta.tags %}
    <p style='color:#333;background-color:rgb(255, 255, 228);padding:10px;font-size:0.8em;border:1px solid #fec615;line-height:1.6em;margin-bottom:0px;'>
      <a href="https://geofolio.org"><img src="/static/gfx/geofolio-factsheets.svg" style="float:right;height:140px;border:0px;" /></a>
      Shameless plug ahead! This article was (probably) written in the course of building <strong><a href="https://geofolio.org/">Geofolio</a></strong>, which is a project I've been working on that automagically generates factsheets for any place on Earth. It contains lots of maps and charts, all powered by open data. Check it out at <strong><a href="https://geofolio.org">https://geofolio.org/</a></strong> or follow <a href="https://twitter.com/geofolio">@geofolio</a> on Twitter for news and updates.
    </p>
    {% endif %}

    <article>
    	{{ article_html|safe }}
    </article>


    {% if 'geo' in article.meta.tags %}
    
    {% endif %}
    

</div>
{% endblock %}
