{% extends "base.html" %}

{% block title %}{{ article.title }}{% endblock %}
{% block keywords %}{{ article.meta.keywords }}{% endblock %}
{% block description %}{{ article.meta.description }}{% endblock %}
{% block content %}
<header>

  <div id="header-image"><a id="home" href="{{ url_for('index') }}"><div><span>Back to homepage</span></div></a> </div>

  <div class="content">
    <p>
      <!--<span style="float:right;color:#666;"><a href="" style="font-weight:700;">hello@kokoalberti.com</a></span>-->
      <a href="{{ url_for('index') }}">kokoalberti.com</a>/articles/
    </p>
    <h1>{{ article.title }}</h1>

    <p style="color:#666;">
      <tt>Published {{ article.date.strftime("%Y-%m-%d") }}</tt>
      <span style="float:right;color:#666;">
        <tt>
        {% for tag in article.meta.tags %}
          <a href="{{ url_for('tag', tag=tag) }}" class='tag'>#{{tag}}</a> 
        {%endfor%}

      	</tt>
      </span>
      
    </p>
  </div>
</header>
<div class="content">
  <article>
    <!--
    {% if 'geofolio' in article.meta.tags %}
    <p style='color:#999;'>
      
      Shameless plug ahead... This article was written as part of building <a href="https://geofolio.org">Geofolio</a>, a project I'm working that aims to make 
      geodata available and understandable for everyone. Have a look and let me know what you think!
      
    </p>
    <hr/>
    {% endif %}
  -->
  	{{ article }}
  </article>
</div>
{% endblock %}
