
<!DOCTYPE html>
<html lang='en'>
    <head>
      <meta charset='UTF-8'/>
      <title>{% block title %}{% endblock %}</title>
      <link rel='stylesheet' href='{{ url_for("static", filename="css/normalize.css") }} '/>
      <link rel='stylesheet' href='{{ url_for("static", filename="css/style.css") }} '/>
      <link rel='stylesheet' href='{{ url_for("static", filename="css/pygments-vs.css") }}'>
      {% block headcss %}{% endblock %}
      {% block headjs %}{% endblock %}
    </head>
    <body>
      {% block content %}{% endblock %}
    </body>
</html>
