
<!DOCTYPE html>
<html lang='en'>
    <head>
      <meta charset='UTF-8'/>
      <meta name='viewport' content="width=device-width, initial-scale=1">
      <meta name='description' content="{% block description %}{% endblock %}">
      <meta name='keywords' content="koko alberti geo geography remote sensing geofolio {% block keywords %}{% endblock %}">
      <title>{% block title %}{% endblock %}</title>
      <link rel='stylesheet' href='{{ url_for("static", filename="css/normalize.css") }} '/>
      <link rel='stylesheet' href='{{ url_for("static", filename="css/style.css") }} '/>
      <link rel='stylesheet' href='{{ url_for("static", filename="css/pygments-vs.css") }}'>
      {% block headcss %}{% endblock %}
      {% block headjs %}{% endblock %}
      {% block metatags %}{% endblock %}
    </head>
    <body>
      {% block content %}{% endblock %}
      <!-- clicky analytics code -->
      <script type="text/javascript">
      var clicky_site_ids = clicky_site_ids || [];
      clicky_site_ids.push(101146227);
      (function() {
        var s = document.createElement('script');
        s.type = 'text/javascript';
        s.async = true;
        s.src = '//static.getclicky.com/js';
        ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
      })();
      </script>
      <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/101146227ns.gif" /></p></noscript>
    </body>
</html>
