{% extends "base.html" %}
{% block title %}{{ index.meta.title }} - Home{% endblock %}
{% block description %}{{ index.meta.description }}{% endblock %}
{% block headcss %}
<style>
header h1 {
    opacity:0;
    position:absolute;
    top:-999px;
    font-weight:700;
    font-synthesis: none;
}
header p {
  padding-top:5px;
  padding-bottom:5px;
}
header {
  margin-bottom:10px;
}


div.summary h4, div.summary p {
  margin:5px 0px 5px 0px;
}
div.summary h4 {
  margin-top:25px;
}
div.summary li {
  margin-bottom:7px;
  margin-top:7px;
  line-height:1.3em;
}
div.summary ul {
  margin-top:5px;
  margin-bottom:5px;
}
</style>
{% endblock %}
{% block content %}
<header>
  <div id="header-image"><a id="home" href="{{ url_for('index') }}"><div><span>Back to homepage</span></div></a> </div>

  <div class="content summary">
    <h1>{{ index.meta.title }}</h1>
    {{ index }}
  </div>

</header>
<div class="content summary">

  <h4>Latest articles:</h4>
  <ul>
  {% for article in articles[:5] %}
    <li><a href="{{ url_for('article', slug=article.slug) }}">{{ article.title }}</a> <span style="color:#aaa">({{article.date}})</span></li>
  {% endfor %}
  </ul>

  <h4>Other pages and posts:</h4>
  <ul>
  {% for article in other_articles[:5] %}
    <li><a href="{{ url_for('article', slug=article.slug) }}">{{ article.title }}</a> <span style="color:#aaa">({{article.date}})</span></li>
  {% endfor %}
    <li><a href="/pages/reading-list/">My reading list</a></li>
  </ul>
</div>
{% endblock %}

