{% extends "base.html" %}

{% block title %}{{ index.meta.title }} - Home{% endblock %}

{% block content %}
<body class="home">
<header>
  <div id="header-image"><a id="home" href="{{ url_for('index') }}"><div><span>Back to homepage</span></div></a> </div>

  <div class="content">
    <h1>{{ index.meta.title }}</h1>
    {{ index }}
  </div>
</header>
<div class="content">
  {% for article in articles %}
  <article>
    <a href="{{ url_for('article', slug=article.slug) }}">
      <h1><span class="heading">{{ article.title }}</span> <span class="readmore">+++</span></h1>
    </a>
    {{ article.body | truncate(300) }}
  </article>
  {% endfor %}
 </div>
</body>
{% endblock %}

